@import "../font_rawline";
@import "../../patterns/cubo";
@import "../../patterns/img/inep_cloud";
@import "../../patterns/img/gov";
@import "../../patterns/geometry_aside";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  @include cubo();
}

body.masterOBIEE {
  font-family: "rawline", Rawline, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 30px;
  height: 100vh;
  // @include inep_cloud();
  background-image: url("../img/inepdata_cloud.png");
}

body.masterOBIEE table#branding {
  background-color: #071d41;
}

body.masterOBIEE a:visited,
body.masterOBIEE a:link {
  color: #fff;
  text-decoration: underline;
}

.SkipToContentLink {
  position: absolute;
  top: -999px;
}

.logo {
  @include gov();
  width: 60px;
  background-repeat: no-repeat;
  height: 20px;
}

input#accessMode,
#copyRight,
#copyRight + td,
#appName,
label[for="sawaccesibilitymode"],
label[for="selectlanguage"],
img.defaultHidden,
select#selectlanguage,
td#logoCell img,
br,
.opttext,
.loginlabel,
hr {
  display: none;
}

button,
#idlogon {
  color: #1351b4;
  border-radius: 24px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #ffffff;
  padding: 0.5em 1.5em;
  margin: 0 auto;
  border: 1px solid rgba(25, 118, 210, 0.5);

  box-shadow: 0 2px 3px #00000029;
  background: #ffffff;
  color: #1351b4;
  border: 1px solid #1351b4;
  min-width: 145px;
  min-height: 40px;
}
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.masterToolbarTextButton:hover,
.masterMenuButton:hover,
.toolbarButtonSpanHover,
#idlogon:hover {
  background-color: #f6fafe;
  border-radius: 24px;
}

table#content {
  color: #fff;
  width: 375px;
  float: right;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  background-color: #075fab;
  @include geometry_aside();
}

table#footer {
  position: absolute;
  bottom: 0;
}

table#branding {
  position: absolute;
  top: 0;
  z-index: 1;
}

td#content-cell table {
  width: 100% !important;
}

td.stylenormal {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

input[type="text"],
input[type="password"],
textarea,
.masterTextArea {
  width: 100% !important;
  height: 40px;
  padding: 0 20px 0 20px;
  background: #ffffff 0 0 no-repeat padding-box;
  border: 1px solid #888888;
  border-radius: 4px;
  font-size: 1em;
}

input#idlogon {
  margin: 0 auto;
}

.margin-top3,
.margin-top5 {
  margin: 0.25em 0;
}
