.MapContainer {
  border: 0 solid black;
}
.MapDiv {
  width: 600px;
  height: 390px;
  border: 1px solid #636661;
}
.MapContainer A {
  text-decoration: none;
}
.rangeThumbOff {
  display: none;
}
.rangeThumbOn {
  background: url(../../../b_mozilla_4/slider_thumb_vert_m_n.png) no-repeat;
  position: absolute;
  width: 10px;
  border: 0 solid blue;
  height: 16px;
  z-index: 1;
}
.bridge {
  position: absolute;
  width: 30px;
  border: 1px solid grey;
  float: right;
}
.containerDrag {
  background: repeat;
  cursor: e-resize;
  width: 5px;
  height: 30px;
  border: 0 solid red;
  z-index: 1;
}
.mrSlider {
  border: 0 solid blue;
}
.SpatialToolCell {
  border: 1px solid #ecead5;
  cursor: pointer;
}
.SpatialToolCellSelected,
.SpatialToolCell:hover {
  border-top: 1px solid #acbacf;
  border-bottom: 1px solid #0a0b19;
  border-right: 1px solid #768092;
  border-left: 1px solid #768092;
  background-image: url(../../../../s_blafp/uicomponents/obips.Menubar/menuBarItem_bg_mo.gif);
}
.PanEnable {
  cursor: pointer;
  background-image: url(../core/pan_ena.png);
  height: 16px;
  width: 16px;
}
.PanEnable:hover {
  background-image: url(../core/pan_ovr.png);
}
.PanEnable:active {
  background-image: url(../core/pan_dwn.png);
}
.ZoomOutEnable {
  cursor: pointer;
  background-image: url(../core/zoomout_ena.png);
  height: 16px;
  width: 16px;
}
.ZoomOutEnable:hover {
  background-image: url(../core/zoomout_ovr.png);
}
.ZoomOutEnable:active {
  background-image: url(../core/zoomout_dwn.png);
}
.ZoomInEnable {
  cursor: pointer;
  background-image: url(../core/zoomin_ena.png);
  height: 16px;
  width: 16px;
  display: none;
}
.ZoomInEnable:hover {
  background-image: url(../core/zoomin_ovr.png);
}
.ZoomInEnable:active {
  background-image: url(../core/zoomin_dwn.png);
}
.DistEnable {
  cursor: pointer;
  background-image: url(../core/length_ena.png);
  height: 16px;
  width: 16px;
}
.DistEnable:hover {
  background-image: url(../core/length_ovr.png);
}
.DistEnable:active {
  background-image: url(../core/length_dwn.png);
}
.AreaEnable {
  cursor: pointer;
  background-image: url(../core/area_tool_ena.png);
  height: 16px;
  width: 16px;
}
.AreaEnable:hover {
  background-image: url(../core/area_tool_ovr.png);
}
.AreaEnable:active {
  background-image: url(../core/area_tool_dwn.png);
}
.DrillEnable {
  cursor: pointer;
  background-image: url(../core/rectangle_select_ena.png);
  width: 16px;
  height: 16px;
}
.DrillEnable:hover {
  background-image: url(../core/rectangle_select_ovr.png);
}
.DrillEnable:active {
  background-image: url(../core/rectangle_select_dwn.png);
}
.LegendEnable {
  cursor: pointer;
  background-image: url(../core/legend_ena.png);
  height: 16px;
  width: 16px;
}
.LegendEnable:hover {
  background-image: url(../core/legend_ovr.png);
}
.LegendEnable:active {
  background-image: url(../core/legend_dwn.png);
}
.InfoEnable {
  cursor: pointer;
  background-image: url(../core/mapInfo.png);
  height: 16px;
  width: 16px;
}
.OverViewDiv {
  visibility: hidden;
  z-index: 0;
  width: 210px;
  height: 137px;
  border: 2px solid #fff;
}
.OverViewCloseIconOuterDiv {
  width: 16px;
  height: 15px;
  padding: 1px;
  padding-bottom: 0;
  display: block;
  border-right: 0 solid black;
  border-top: 0 solid black;
}
.OverViewOpenIconOuterDiv {
  width: 16px;
  height: 15px;
  padding: 1px;
  padding-bottom: 0;
  background-color: white;
  display: block;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.OverViewCloseIconOn {
  background: url(../../../b_mozilla_4/buttonOverv_close_ena.png) no-repeat;
  width: inherit;
  height: inherit;
  cursor: pointer;
  display: block;
  border: 0 solid black;
}
.OverViewOpenIconOn {
  background: url(../../../b_mozilla_4/buttonOverv_open_ena.png) no-repeat;
  width: inherit;
  height: inherit;
  cursor: pointer;
  display: block;
  border: 0 solid black;
}
.OverViewIconOff {
  display: none;
}
.MapVisualBody {
  color: #3e403d;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid white;
  height1: 25px;
}
.MapVisualBody:hover {
  border-top: 1px solid #acbacf;
  border-bottom: 1px solid #0a0b19;
  border-right: 1px solid #768092;
  border-left: 1px solid #768092;
  background-color: #eaeff5;
  height1: 25px;
}
.MapVisualBody .uberBarMainDiv {
  border: 0;
}
.MapVisualBody .uberBarMainDiv .uberBarButtonSpan {
  padding-top: 3px;
}
.MapPoiEditIcons {
  visibility: hidden;
}
.MapPoiEditIconsHover {
  visibility: visible;
}
.MapVisualEditIcons {
  visibility: hidden;
}
.MapVisualEditIconsHover {
  display: block;
}
.MapLayerTextSpan {
  overflow: hidden;
  text-decoration: none;
  color: #2b7c92;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: normal;
}
.MapColorSelCell {
  background: url(../../../common/dropdown_ena.gif);
}
.MapColorSelCell:hover {
  background: url(../../../common/dropdown_ovr.gif);
}
.MapColorSelCell:active {
  background: url(../../../common/dropdown_dwn.gif);
}
.MapLayerTable {
  padding: 0;
  border: 0;
}
.ClickedToolTipRow {
  text-align: right;
  background-color: #f1f7ff;
  background-image: url(../../../common/titleBar_bg.png);
  font-weight: bold;
}
.ToolTipCloseCell {
  text-align: left;
}
.ToolTipCloseDiv {
  background: url(../../../common/closeDialog_n.png);
  width: 15px;
  height: 14px;
  cursor: pointer;
  float: left;
}
.MapToolTipPrimaryValue {
  color: #000;
  text-align: right;
}
.MapToolTipPrimaryLabel {
  color: #000;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}
.MapToolTipSecondaryLabel {
  color: #002a90;
  text-align: right;
}
.MapToolTipSecondaryValue {
  color: #002a90;
  text-align: right;
}
.MapToolTipTertiaryLabel {
  color: #704a00;
  text-align: right;
}
.MapToolTipTertiaryValue {
  color: #000;
}
.MapToolTipErrorLabel {
  color: #000;
}
.MapToolTipTitleBar {
  padding-bottom: 10px;
}
TABLE.InteractionFOI {
  padding-bottom: 4px;
  font-size: 11px;
  color: Black;
}
TABLE.InteractionFOI A {
  color: #039;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
TABLE.InteractionFOI A:hover {
  color: #039;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  text-decoration: underline;
}
TABLE.InteractionFOI SPAN {
  color: #039;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
.InfoFOITable {
  color: Black;
  border: 0 solid #c9cbd3;
  border-collapse: collapse;
  float: right;
}
.InfoFOITable THEAD {
  background-color: #def;
}
.InfoFOITable TD {
  border: 0 solid #c9cbd3;
  vertical-align: middle;
  text-align: right;
}
.InfoLegendTable {
  background-color: White;
  height: 17px;
  border: 1px solid #a3bed8;
}
.InfoLegendCell {
  background-image: url(../../../common/subheader_g_bg.png);
  border: 1px solid #a3bed8;
  background-repeat: repeat;
  cursor: pointer;
}
.InfoLegendCollapsedIcon {
  background-image: url(../../spatial/mlp_open_ena.png);
  height: 14px;
  width: 14px;
}
.InfoLegendExpandIcon {
  background-image: url(../../spatial/mlp_close_ena.png);
  height: 14px;
  width: 14px;
}
.LegendDiv {
  background: url(../../../b_mozilla_4/title_bg.png) repeat;
}
.LegendHeader {
  color: #3e403d;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: bold;
}
.LegendBody {
  overflow: hidden;
  color: black;
}
.LegendContentDiv {
  position: relative;
  padding-left: 20px;
}
.ScrollLegendCell {
  padding-left: 10px;
}
.ScrollLegendDiv {
  border: 1px solid #979991;
  border-left: 0;
  border-top: 0;
  background-color: white;
  position: relative;
  opacity: 0.9;
  -ms-opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
.HideScrollIcons {
  visibility: hidden;
}
.ShowScrollIcons {
  visibility: visible;
}
.LegendMessageCell {
  padding: 25px;
}
.ScrollUpDisabled {
  width: 16px;
  height: 16px;
  background-image: url(../../../answers/moveStepUpG.png);
  cursor: pointer;
}
.ScrollUpEnabled {
  width: 16px;
  height: 16px;
  background-image: url(../../../answers/moveStepUp.png);
  cursor: pointer;
}
.ScrollDownDisabled {
  width: 16px;
  height: 16px;
  background-image: url(../../../answers/moveStepDownG.png);
  cursor: pointer;
}
.ScrollDownEnabled {
  width: 16px;
  height: 16px;
  background-image: url(../../../answers/moveStepDown.png);
  cursor: pointer;
}
.ColorSchemeDiv {
  background-image: url(../../../b_mozilla_4/layer_colfill.png);
  width: 14px;
  height: 14px;
}
.VariableMarkerDiv {
  background-image: url(../../../b_mozilla_4/layer_varmarker.png);
  width: 16px;
  height: 16px;
}
.PieLayerDiv {
  background-image: url(../../../b_mozilla_4/layer_pie.png);
  width: 16px;
  height: 16px;
}
.BarLayerDiv {
  background-image: url(../../../b_mozilla_4/layer_bar.png);
  width: 16px;
  height: 16px;
}
.PoiLayerDiv {
  background-image: url(../../../b_mozilla_4/layer_poi.png);
  width: 16px;
  height: 16px;
}
.SpatialLayerCell {
  align: left;
  text-align: right;
  padding: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.SpatialLayerCell_Fill {
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 1px;
  padding-bottom: 2px;
  line-height: 11px;
  align: left;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.SpatialLayerCell_Fill_Top {
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 0;
  padding-bottom: 2px;
  line-height: 11px;
  align: left;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.SpatialLayerTable {
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: normal;
  width: 100%;
}
.GeoLayerExpanded {
  background-image: url(../../../common/disclosure_expanded.png);
  width: 10px;
  height: 10px;
}
.GeoLayerCollapsed {
  background-image: url(../../../common/disclosure_collapsed.png);
  width: 10px;
  height: 10px;
}
.GeoLayerLabel {
  color1: #3e403d;
  color: #000;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}
.TruncatedLayerDataTitleDiv {
  color: #000;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #979991;
  padding-right: 4px;
  vertical-align: middle;
  padding-bottom: 1px;
}
.TruncatedLayerDataTitleDiv span {
  padding-right: 2px;
}
.TruncatedLayerDataMsgDiv {
  padding-right: 4px;
}
.TruncatedLayerDataDiv {
  padding-bottom: 4px;
}
.VisualLayerLabel {
  color1: #002a90;
  color: #000;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}
.UnConstrainedFormatLabelText {
  color: #000;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: normal;
}
.ConstrainedFormatLabelText,
.FormatLabelText {
  color: #000;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}
.SpatialAdminLevelNumDiv {
  width: 16px;
  height: 18px;
  background-color: #ecead5;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #636661;
  border-left: 0;
  border-bottom: 0;
  cursor: pointer;
}
.SpatialAdminLevelLabelDiv {
  vertical-align: top;
}
.SpatialAdminLevelCell {
  width: 16px;
  height: 18px;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  border: 1px solid #636661;
  border-bottom: 0;
  border-left: 0;
}
.SpatialAdminLevelLabel {
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  max-width: 50em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SpatialAdminLabelCell {
  border-top: 1px solid #636661;
}
.NonBILayersDividerRow td {
  border-bottom: 3px solid #636661;
}
.NonBILayersDividerRow .SpatialAdminLabelCell td {
  border-bottom: 0;
}
.SpatialAdminVisibleCell {
  background-color: #9cacc9;
}
.SpatialAdminCurrentLevelCell {
  border: 2px solid Orange;
  border-bottom: 0;
}
.SpatialAdminClearLeftRightCell {
  background-color: white;
}
.SpatialAdminGridDiv {
  background-color: #ecead5;
  border: 1px solid #636661;
  padding: 0;
}
.SpatialAdminToolBar {
  background-color: #ecead5;
  border-bottom: 1px solid #636661;
  padding: 1px 3px;
}
.SpatialAdminLevelTableContainer {
  text-align: right;
  vertical-align: top;
  width: 100%;
}
.SpatialAdminToolBarIcon {
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}
.SpatialAdminMapDiv {
  border: 1px solid #636661;
}
.SpatialAdminLayerInvalidPhysicalInfo {
  border: 1px solid red;
}
.SpatialAdminLayerIcon {
  width: 16px;
  height: 16px;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}
.SpatialAdminBILayerVisible {
  background: url(../admin/geographiclayervisibility_ena.png) no-repeat;
}
.SpatialAdminBILayerVisible:active {
  background: url(../admin/geographiclayervisibility_dwn.png) no-repeat;
}
.SpatialAdminBILayerVisible:hover {
  background: url(../admin/geographiclayervisibility_ovr.png) no-repeat;
}
.SpatialAdminBILayerInvisible {
  background: url(../admin/hidegeographiclayer_ena.png) no-repeat;
}
.SpatialAdminBILayerInvisible:active {
  background: url(../admin/hidegeographiclayer_dwn.png) no-repeat;
}
.SpatialAdminBILayerInvisible:hover {
  background: url(../admin/hidegeographiclayer_ovr.png) no-repeat;
}
.SpatialAdminFeatureLayerVisible {
  background: url(../admin/featurelayervisibility_ena.png) no-repeat;
}
.SpatialAdminFeatureLayerVisible:active {
  background: url(../admin/featurelayervisibility_dwn.png) no-repeat;
}
.SpatialAdminFeatureLayerVisible:hover {
  background: url(../admin/featurelayervisibility_ovr.png) no-repeat;
}
.SpatialAdminFeatureLayerInvisible {
  background: url(../admin/hidefeaturelayer_ena.png) no-repeat;
}
.SpatialAdminFeatureLayerInvisible:active {
  background: url(../admin/hidefeaturelayer_dwn.png) no-repeat;
}
.SpatialAdminFeatureLayerInvisible:hover {
  background: url(../admin/hidefeaturelayer_ovr.png) no-repeat;
}
.SpatialAdminLayerMenuDiv {
  background-color: White;
  border: 1px solid #035c8a;
  width: 220px;
  overflow: auto;
  position: absolute;
}
.SpatialAdminLayerMenuTitle {
  border-bottom: 1px solid #035c8a;
  padding-right: 2px;
}
.SpatialAdminLayerMenuBody {
  padding: 10px;
}
.SpatialAdminLayerMenuFooter {
  border-top: 1px solid #035c8a;
  padding: 2px;
  text-align: left;
  vertical-align: middle;
}
.SpatialAdminLayerMenuCell {
  padding: 2px;
  text-align: right;
  vertical-align: middle;
}
.SpatialAdminContextDlgDiv {
  background-image: none;
  background-color: White;
}
.SpatialAdminLayerOptionsDiv {
  background-image: url(../../../answers/columnMenu.png);
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.SpatialLayerPanelAutoDrillDiv {
  background-color: #ecead5;
  color: #000;
  height: 21px;
  margin: 0;
  overflow: hidden;
  padding: 0 0 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.SpatialLayerLevelOverflowDiv {
  width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1px;
}
.LayerLabelCheckBoxCell {
  padding-right: 16px;
}
.SpatialAdminNameLabel {
  vertical-align: top;
  text-align: right;
}
.SpatialAdminDescLabel {
  vertical-align: top;
  text-align: right;
}
.SpatialAdminInteractiveBILayerCell {
  vertical-align: top;
  text-align: right;
  padding-top: 12px;
}
.SpatialAdminAssociateLayerZoomLevelCell {
  vertical-align: top;
  text-align: right;
  padding-bottom: 5px;
  padding-top: 0;
}
.IEVML {
  behavior: url(#default#VML);
  display: inline-block;
}
.XUISectionHeadingTitleSmallFont {
  font: bold 11px Tahoma;
  color: #3e403d;
}
.MapCaptionIn {
  color: #000;
  font: normal 11px Tahoma;
  padding: 3px 14px 3px 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.SpatialToolBarContainer {
  border: 1px solid #636661;
}
.ZoomInCursor {
  cursor: url(../cursors/zoomIn.cur);
}
.ZoomOutCursor {
  cursor: url(../cursors/zoomOut.cur);
}
.PanCursor {
  cursor: url(../cursors/crossHair.cur);
}
.SpatialLegendLayerTitle {
  padding: 3px;
  padding-bottom: 1px;
  line-height: 12px;
}
.SpatialLegendFeatureTitle {
  padding: 3px;
  padding-top: 2px;
  line-height: 12px;
}
.SpatialFormatCell {
  padding: 2px;
  padding-bottom: 0;
}
.SpatialLegendFeatureTable {
  padding-top: 2px;
}
.SpatialFormatColorRampSpan {
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../core/transparency_bkgd_14.png);
  background-repeat: repeat-x;
}
.SpatialColorBoxTransparencyBkgd {
  height: 16px;
  background-image: url(../core/transparency_bkgd_16.png);
  background-repeat: repeat-x;
}
.SpatialColorBoxColorDiv {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 16px;
  height: 14px;
}
.SpatialColorBoxOutline {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 16px;
}
.LegendSelectedFOIStyle {
  background: #e6e6e6;
  background: -moz-linear-gradient(
    center top,
    #c8c8c8 0,
    #e6e6e6 10%,
    #e6e6e6 90%,
    #c8c8c8 100%
  );
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0%, #c8c8c8),
    color-stop(10%, #e6e6e6),
    color-stop(90%, #e6e6e6),
    color-stop(100%, #c8c8c8)
  );
  background: -webkit-linear-gradient(
    center top,
    #c8c8c8 0,
    #e6e6e6 10%,
    #e6e6e6 90%,
    #c8c8c8 100%
  );
  background: -o-linear-gradient(
    center top,
    #c8c8c8 0,
    #e6e6e6 10%,
    #e6e6e6 90%,
    #c8c8c8 100%
  );
  background: -ms-linear-gradient(
    center top,
    #c8c8c8 0,
    #e6e6e6 10%,
    #e6e6e6 90%,
    #c8c8c8 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6',endColorstr='#E6E6E6',GradientType=0);
  background: linear-gradient(
    center top,
    #c8c8c8 0,
    #e6e6e6 10%,
    #e6e6e6 90%,
    #c8c8c8 100%
  );
}
.LegendSelectedFOIStyle_plain {
  background: #e6e6e6;
}
.LegendSelectedFOIStyle_HighlightBorders {
  position: relative;
  right: -2px;
  border-right: solid 2px #000;
  border-left: solid 2px #000;
}
.LegendVCCRHighlighter {
  position: absolute;
  width: 15px;
  background-color: Transparent;
}
.MapTransparencySpinBoxEndFacet {
  padding-right: 4px;
}
