.toolbar {
  border-top: 1px solid transparent;
  border-right: 0;
  border-bottom: 1px solid transparent;
  border-left: 0;
  padding-top: 3px;
  padding-right: 0;
  padding-bottom: 3px;
  padding-left: 0;
  background: transparent;
  width: 100%;
}

.promptEditorMainTable .toolbar {
  text-align: right;
}

.toolbarButtonSpan {
  vertical-align: baseline;
  padding: 0 4px 1px 4px;
  display: inline-block;
  cursor: default;
  line-height: 14px;
  border: 1px solid transparent;
  margin: 1px 0 0 0;
}

.toolbarTextButtonSpan {
  vertical-align: baseline;
  padding-bottom: 2px;
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  cursor: default;
  line-height: 11px;
  border-top: 1px solid #ddddd8;
  border-bottom: 1px solid #797975;
  border-left: 1px solid #c2c0b5;
  border-right: 1px solid #b9b9b4;
  margin: 0 4px 0 0;
}

.toolbarButtonSpanHover {
}
.toolbarButton {
  vertical-align: middle;
  cursor: default;
  height: 16px;
  line-height: 20px;
}
.toolbarSeparator {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
  width: 2px;
  height: 2px;
  padding-top: 14px;
  font-size: 1px;
}
.toolbarMenuPanel {
  position: absolute;
  z-index: 5;
  border-left: 1px solid #768092;
  border-right: 1px solid #768092;
  border-top: 1px solid #a9b6cb;
  border-bottom: 1px solid #00000a;
  background-color: #fff;
  padding: 1px;
  filter: progid:DXImageTransform.Microsoft.DropShadow(Color='#d5d8dc', Positive='true', OffX=2, OffY=2);
  background-repeat: repeat-y;
  background-position: left top;
}
.toolbarMenuOption {
  text-align: left;
  font-family: Arial;
  font-size: 8pt;
  color: #000;
  padding-left: 4px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  white-space: nowrap;
  cursor: default;
}
.toolbarMenuOptionHover {
  background-color: #d1dde7;
  border: 1px solid #fff;
  padding-left: 3px;
  padding-right: 19px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000;
}
.toolbarMenuOptionIcon {
  vertical-align: middle;
  margin-right: 4px;
}
.toolbarDropDownButtonIcon {
  vertical-align: middle;
  cursor: default;
  padding: 3px 2px 0 2px;
  background-image: url("dropdown_n.gif");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  width: 7px;
  height: 4px;
  display: inline-block;
}
.promptEditorMainTable .toolbar {
  text-align: right;
}
.promptSearchGroupBoxToolBarDiv .toolbar {
  background-color: Transparent;
}
